<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>株式会社TECH</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/contact.css">
</head>

<body>
  <header>
    <div>
      <p><a href="../index.html">TECH</a></p>
      <ul>
        <li><a href="../index.html">ホーム</a></li>
        <li><a href="./service.html">事業内容</a></li>
        <li><a href="./news.html">ニュース</a></li>
        <li><a href="./blog.html">社員ブログ</a></li>
        <li><a href="./company.html">会社概要</a></li>
        <li><a href="./recruit.html">採用情報</a></li>
        <li><a href="./contact.html">お問い合わせ</a></li>
      </ul>
    </div>
  </header>

  <div id="menu-btn">
    <p><a href="../index.html">TECH</a></p>
    <div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div id="menu">
    <ul>
      <li><a href="../index.html">ホーム</a></li>
      <li><a href="./service.html">事業内容</a></li>
      <li><a href="./news.html">ニュース</a></li>
      <li><a href="./blog.html">社員ブログ</a></li>
      <li><a href="./company.html">会社概要</a></li>
      <li><a href="./recruit.html">採用情報</a></li>
      <li><a href="./contact.html">お問い合わせ</a></li>
    </ul>
  </div>

  <main>

    <div class="top-wrapper">
      <h1>お問い合わせ</h1>
    </div>

    <form action="#" method="">
      <label for="company">会社名</label>
      <input id="company" type="text">
      <label for="name">お名前</label>
      <input id="name" type="text">
      <div id="nameError"></div>
      <label for="email">メールアドレス</label>
      <input id="email" type="email">
      <div id="emailError"></div>
      <label for="contact">お問い合わせ内容</label>
      <textarea name="contact" id="contact" rows="10"></textarea>
      <div id="contactError"></div>
      <input type="submit" id="submit" value="お申し込み">
    </form>

  </main>

  <footer>
    <div>
      <small>&copy; 2020 TECH inc.</small>
      <ul>
        <li><a href="../index.html">ホーム</a></li>
        <li><a href="./service.html">事業内容</a></li>
        <li><a href="./news.html">ニュース</a></li>
        <li><a href="./blog.html">社員ブログ</a></li>
        <li><a href="./company.html">会社概要</a></li>
        <li><a href="./recruit.html">採用情報</a></li>
        <li><a href="./contact.html">お問い合わせ</a></li>
      </ul>
    </div>
  </footer>
  
<script src="../js/main.js"></script>
</body>

</html>